.lateral {
	height: 100% !important;
	background-color: #eff8ff !important;
	border-right: .1em #ddeeff solid;
}
.container {
	margin: 0;
	padding: 0;
}
.bs-sidenav li.active {
	background-color: #ceeeff;
}
.bs-sidenav li a:hover {
	background-color: #53b8e0 !important;
	border-bottom: .1em #42a7e0 solid;
	color: #FFF;
	height: 2.8em;
}
.navbar-fixed-top {
	background-color: #1c4166;
	border-bottom: #0b3066 solid .1em;
}
.navbar-fixed-top a {
	color: #FFF;
}
.navbar-nav>li.active {
	background-color: #2399d3 !important;
}
.container>.navbar-header>.navbar-brand {
	color: #FFF;
}
nav.bs-navbar-collapse * {
	color: #dbfaff !important;
}
nav.bs-navbar-collapse *:hover {
	color: #FFF !important;
}
.all {
	margin-left: 14.5em;
	margin-top: 2em;
}
.logo {
	margin-left: 2em;
}

ul#menu li.parent > a {
	background: transparent url('../img/down.gif') right center no-repeat;
}

ul#menu li.aberto > a {
	background: transparent url('../img/up.gif') right center no-repeat;
	text-decoration: none;
	background-color: #24b2d6 !important;
	color: #FFF;
}

ul#menu li ul.sub-menu {
  	display: none;
  	list-style-type: none;
}

ul#menu li ul.sub-menu li {
	margin-left: -2.90em;
	background-color: #FFF !important;
	text-align: left;
	padding-top: .5em;
	padding-left: .5em;
}

ul#menu li ul.sub-menu li a, ul#menu li ul.sub-menu li a:active, ul#menu li ul.sub-menu li a:visited {
	padding-left: 1em;
	width: 100%;
}
ul#menu li ul.sub-menu li a:hover {
	padding-left: 1em;
	background-color: transparent !important;
	color: #24b2d6;
	text-decoration: none;
	border-bottom: none;
}

.autocomplete-suggestions { 
	border: 1px solid #999; 
	background: #FFF; 
	cursor: default; 
	overflow: auto; 
	-webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); 
	-moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); 
	box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); 
}
.autocomplete-suggestion { 
	padding: 2px 5px; 
	white-space: nowrap; 
	overflow: hidden; 
}
.autocomplete-selected { 
	background: #F0F0F0; 
}
.autocomplete-suggestions strong { 
	font-weight: normal; 
	color: #3399FF; 
}