.tr-visitantes-click:hover td {
	background-color: #eafffd !important;
	cursor: pointer;
}

.shadowModal {
	margin-top: 15px !important;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(100, 100, 100, 1) !important;
	-moz-box-shadow:    0px 0px 15px 0px rgba(100, 100, 100, 1) !important;
	box-shadow:         0px 0px 15px 0px rgba(100, 100, 100, 1) !important;
}